@use "sass:math";

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
    border-collapse: collapse;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


$GHue: 120;
$YGHue: 90;
$YHue: 60;
$YOHue: 50;
$OHue: 40;
$ROHue: 20;
$RHue: 0;
$RPHue: 320;
$PHue: 280;
$BPHue: 260;
$BHue: 240;
$BGHue: 170;





















body {
    position: absolute;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    color: hsl(0, 0%, 100%);
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    iframe {display: none;}
    body {display: none;}
    
    // .interfaceOpen {
    //     #dashboardContainer {}
    //     #interfaceContainer {}
    // }
    // .interfaceClosed {
    //     #dashboardContainer {}
    //     #interfaceContainer {}
    // }
    
    #dashboardContainer {
        height: calc(100vh - 50px);
        width: 100vw;
        bottom: 0;
        left: 0;
        background-color: rgb(66, 66, 66);
        display: block;
        position: absolute;
        z-index: 0;
    }

    #interfaceContainer {
        height: 50px;
        // height: calc(100vh - 10px);
        overflow: hidden;
        width: 100vw;
        display: block;
        position: absolute;
        z-index: 1;
        background-color: rgb(126, 126, 126);
        transition: height 1s;
        box-shadow: 0 2px 6px 2px rgba(0, 0, 0, 0.767);
        header {
            position: absolute;
            height: 50px;
            width: 100vw;
            display: grid;
            background-color: rgb(48, 5, 61);
            box-shadow: 0 2px 6px 2px rgba(0, 0, 0, 0.767);
            grid-template-columns: auto 40px;
            grid-template-rows: 40px 10px;
            grid-template-areas: "scriblr button" "progress progress";
            button {
                grid-area: button;
                margin: 5px;
                height: 30px;
                width: 30px;
                border-radius: 5px;
                cursor: pointer;
            }
            div {
                grid-area: progress;
                background-color: black;
            }
        }
    }
}


