@use "sass:math";

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
    border-collapse: collapse;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
























body {
    position: absolute;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: rgb(73, 73, 73);
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    iframe {display: none;}
    body {display: none;}

    main {
        position: absolute;
        transition: all 1s;
        overflow: hidden;
        border-radius: 4px;
        padding: 5px;
        
    }
    
    .outlineOnly {
        #outlinerDash {width: calc(100vw - 45px);}
        #drafterDash {width: 20px; height: 20px;}
        #readerDash {width: 20px; height: 20px;}
    }
    .outlineDraft {
        #outlinerDash {width: 490px;}
        #drafterDash {width: calc(100vw - 525px); height: calc(100vh - 55px);}
        #readerDash {width: 20px; height: 20px;}
        
    }
    .outlineReader {
        #outlinerDash {width: 490px;}
        #drafterDash {width: 10px; height: 10px;}
        #readerDash {width: calc(100vw - 525px); height: calc(100vh - 55px);}
    }
    
    #outlinerDash {
        display: grid;
        height: calc(100vh - 20px);
        background-color: rgb(29, 29, 29);
        color: white;
        top: 5px;
        right: 5px;
        transition: height 1s, width 1s;
        
        div {
            display: grid;
            width: 490px;
            grid-template-columns: auto 30px;
            grid-template-rows: 30px auto;
            grid-template-areas: "input button" "content content";
            button {
                grid-area: button;
                border: none;
                border-radius: 4px;
                width: 25px;
                margin: 2.5px;
                height: 25px;
                cursor: pointer;
            }
            input {
                grid-area: input;
                width: calc(100% - 12.5px);
                border-radius: 4px;
            }
            section {
                grid-area: content;
                background-color: teal;
                height: calc(100% - 5px);
                margin-top: 5px;
            }
            
        }
    }
    #drafterDash {
        display: block;
        color: white;
        background-color: rgb(109, 109, 109);
        position: absolute;
        top: 5px;
        left: 5px;
        transition: height 1s, width 1s;
        
    }
    #readerDash {
        display: block;
        color: white;
        background-color: black;
        position: absolute;
        bottom: 5px;
        left: 5px;
        transition: height 1s, width 1s;
        
    }
}


