html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  border-collapse: collapse;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  position: absolute;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  color: hsl(0, 0%, 100%);
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}
body iframe {
  display: none;
}
body body {
  display: none;
}
body .interfaceOpen {
  height: calc(100vh - 10px);
}
body .interfaceClosed {
  height: 50px;
}
body #dashboardContainer {
  height: calc(100vh - 50px);
  width: 100vw;
  bottom: 0;
  left: 0;
  background-color: rgb(66, 66, 66);
  display: block;
  position: absolute;
  z-index: 0;
}
body #dashboardContainer section:nth-child(1) {
  width: calc(60vw - 20px);
  height: calc(100vh - 70px);
  display: block;
  position: absolute;
  padding: 10px;
  left: 0;
  top: 0;
  background-color: rgba(255, 255, 255, 0.301);
  overflow-x: hidden;
  overflow-y: scroll;
  line-height: 20px;
}
body #dashboardContainer section:nth-child(1)::-webkit-scrollbar {
  -webkit-appearance: none;
          appearance: none;
}
body #dashboardContainer section:nth-child(2) {
  width: calc(40vw - 40px);
  height: calc(100vh - 90px);
  padding: 10px;
  display: block;
  position: absolute;
  right: 10px;
  top: 10px;
  background-color: rgba(0, 0, 0, 0.288);
  line-height: 20px;
}
body #interfaceContainer {
  overflow: hidden;
  width: 100vw;
  display: block;
  position: absolute;
  z-index: 1;
  background-color: rgb(126, 126, 126);
  transition: height 1s;
  box-shadow: 0 2px 6px 2px rgba(0, 0, 0, 0.767);
}
body #interfaceContainer header {
  position: absolute;
  grid-area: header;
  height: 50px;
  width: 100vw;
  display: grid;
  background-color: rgb(48, 5, 61);
  box-shadow: 0 2px 6px 2px rgba(0, 0, 0, 0.767);
  grid-template-columns: auto 40px;
  grid-template-rows: 40px 10px;
  grid-template-areas: "scriblr button" "progress progress";
}
body #interfaceContainer header span {
  grid-area: scriblr;
  line-height: 42px;
  font-weight: 500;
  text-indent: 10px;
  letter-spacing: 1.5px;
  font-size: 14px;
  vertical-align: middle;
}
body #interfaceContainer header button {
  grid-area: button;
  margin: 7px;
  height: 26px;
  width: 26px;
  border-radius: 5px;
  cursor: pointer;
  border: none;
  background-color: rgba(255, 255, 255, 0.37);
}
body #interfaceContainer header div {
  grid-area: progress;
  background-color: black;
}
body #interfaceContainer section:nth-child(2) {
  height: calc(100vh - 100px);
  width: calc(40vw - 40px);
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.39);
  color: black;
  display: block;
  position: absolute;
  left: 10px;
  top: 60px;
  line-height: 20px;
}
body #interfaceContainer section:nth-child(3) {
  height: calc(100vh - 80px);
  width: calc(60vw - 20px);
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.39);
  line-height: 20px;
  display: block;
  position: absolute;
  right: 0;
  top: 50px;
  overflow-x: hidden;
  overflow-y: scroll;
}
body #interfaceContainer section:nth-child(3)::-webkit-scrollbar {
  -webkit-appearance: none;
          appearance: none;
}/*# sourceMappingURL=style.css.map */